.container {
    background-color: var(--grey);
    color: var(--white);
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: all ease 0.2s;
}

.container span {
    padding: 0.75rem 2rem;
}

.selected {
    background-color: var(--blue);
    font-weight: 500;
}

.active {
    background-color: var(--red);
}

@media (hover: hover) {
    .container:hover {
        filter: opacity(0.9);
    }

}