.container {
    position: absolute;
    top: 40px;
    right: 40px;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.buttonContainer button {
    border: none;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font: 600 1rem 'Rajdhani', sans-serif;
    color: #fbfbfb;
    user-select: none;
    outline: none;
    transition: all ease 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fbfbfb;
}

.close {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 32px;
    height: 32px;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    right: 29px;
    top: 18px;
    content: ' ';
    height: 25px;
    width: 3px;
    background-color: #fbfbfb;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.notActive {
    background-color: #5965e0;
}

.notActive:hover {
    background-color: #4953b8;
}

.active {
    background-color: #e83f5b;
}

.active:hover {
    background-color: #cf364f;
}

.iconContainer {
    display: inline-block;
    cursor: pointer;
}

.open {
    width: 25px;
    height: 3px;
    background-color: #fbfbfb;
    margin: 5px 0;
}

.stop{
    width: 15px;
    height: 15px;
    border-radius: 1px;
    background-color: #fbfbfb;
}