.container {
    font: 600 6rem 'Rajdhani', sans-serif;
    line-height: 7.5rem;
    user-select: none;
    display: grid;
    grid-template-columns: 1fr 1fr 0.1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
}

.container * {
    font: 600 6rem 'Rajdhani', sans-serif;
}

.container span {
    margin: 0;
    padding: 0;
    border: 0;
    color: var(--black);
}

@media(min-width:600px) {
    .container *,
    .container {
        font-size: 10rem;
    }
}