.container {
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font: 600 1.1rem 'Inter', sans-serif;
}

.timeSelection {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: stretch;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.clockContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    row-gap: 4rem;
}

.contentArea {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container footer {
    position: absolute;
    bottom: 30px;
    color: var(--black);
}

/* @media(max-width:720px) {
    .container span {
        font-size: 87.5%;
    }
}

@media(max-width:420px) {
    .container span {
        font-size: 50%;
    }
} */