.container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(242, 243, 245);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contentArea {
  display: flex;
  align-items: center;
  justify-content: center;
}