.container {
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font: 600 1.1rem 'Inter', sans-serif;
}

.timeSelection {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: stretch;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.timeSelection div:first-child {
    grid-column: 1 / -1;
}

.clockContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
}

.contentArea {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container footer {
    position: absolute;
    bottom: 30px;
    color: var(--black);
}

@media(min-width:1000px) {
    .timeSelection {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .timeSelection div:first-child {
        grid-column: 1
    }
}