.container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0294a;
    border-radius: 10px;
    padding: 10px 35px;
    cursor: pointer;
    font: 600 1rem 'Inter', sans-serif;
    color: #fbfbfb;
    transition: all ease 0.2s;
    opacity: 1;
}

.container:hover{
    background-color: #d62442;
}